

/* Custom Styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.center-container {
  background-image: url('https://media.istockphoto.com/id/1162761698/photo/safe-drinking-tap-water.jpg?s=612x612&w=0&k=20&c=ixVOC4flCw4qkWaebMrdAYcCe7OiURfNTg0bLK3QFK4=');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120% 130%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}


.me {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}

.me img {
  width: 50%;
  height: auto;
}

.description-box {
  width: 50%;
  margin-bottom: 200px;
  padding: 20px;
  text-align: center;
  font-size: xx-large;
  color: white;
}

/* Add these new styles for the transition effect */
.description-box p {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 3s ease-in-out, transform 1s ease-in-out;
}

.description-box p.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-form-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 20px;
  margin-bottom: 50px;
}

.open-form-button:hover {
  background-color: darkblue;
}

.undercar-title {
  text-align: center;
  font-size: 5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}

.undercartitle-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.undercartitle-container h1 {
  font-size: 3rem;
  font-weight: 200;
}

.undercar-left {
  flex: 1;
  padding: 0 20px;
  padding-left: 75px;
}

.undercar-middle {
  flex: 1;
  padding: 0 20px;
  padding-left: 100px;
  margin-top: 50px;
}

.undercar-middle img {
  height: 45rem;
  width: auto;
}

.undercar-right {
  flex: 1;
  padding: 0 20px;
}

.undercar-right video {
  margin-top: 50px;
  height: 40rem;
  width: auto;
}

.leftp {
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
  font-size: x-large;
}

/* Media Queries */
@media only screen and (max-width: 375px) {
  .carousel {
    width: 90%;
    height: 40vh;
  }

  .me {
    margin-top: 150px;
  }

  .me img, .description-box, .undercar-middle img, .undercar-right video {
    width: 100%;
    height: auto;
  }

  .description-box {
    font-size: large;
  }

  .undercar-title {
    font-size: 3rem;
  }

  .undercartitle-container h1 {
    font-size: 2rem;
  }

  .leftp {
    font-size: medium;
  }
}

@media only screen and (max-width: 390px) {
  .carousel {
    width: 80%;
    height: 45vh;
  }

  .me {
    margin-top: 150px;
  }

  .me img, .description-box, .undercar-middle img, .undercar-right video {
    width: 100%;
    height: auto;
  }

  .description-box {
    font-size: x-large;
  }

  .undercar-title {
    font-size: 4rem;
  }

  .undercartitle-container h1 {
    font-size: 2.5rem;
  }

  .leftp {
    font-size: large;
  }
}

@media only screen and (max-width: 428px) {
  .carousel {
    width: 70%;
    height: 50vh;
  }

  .me {
    margin-top: 150px;
  }

  .me img, .description-box, .undercar-middle img, .undercar-right video {
    width: 100%;
    height: auto;
  }

  .description-box {
    font-size: xx-large;
  }

  .undercar-title {
    font-size: 4.5rem;
  }

  .undercartitle-container h1 {
    font-size: 3rem;
  }

  .leftp {
    font-size: large;
  }
}
